table{
    border-collapse: collapse;
    
}

td{
    background-color: mediumspringgreen;
}
th{
    background-color: lightskyblue;
}

td, th{
    border-style: solid;
    border-width: 2px;
}

.Recreo{
    background-color: cyan;
}



@media (min-width: 800px)